@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    /* Cores do Modo Claro (Light Mode) */
    --color-bg: 255 255 255;
    --color-text: 15 23 42;
    --color-primary: 37 99 235;
    --color-secondary: 71 85 105;
  }
  /* Cores do Modo Escuro (Dark Mode) */
  .dark {
    --color-bg: 15 23 42;
    --color-text: 248 250 252;
    --color-primary: 96 165 250;
    --color-secondary: 148 163 184;
  }

  body {
    @apply bg-background text-content antialiased;
  }
}
